<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>result</title>
  </head>
  <body>
    <h1>Your word is worth: </h1>
    <h1> @Model.GetUserScore() </h1>
    <br><a href="/">try again</a>
  </body>
</html>
